{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "css/blog.css" %}'>
    <title>BlogEasy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    {# MEDIUM STYLE EDITOR#}
    <script src="//cdn.jsdelivr.net/medium-editor/latest/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/medium-editor/latest/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
  
    {# Fonts#}
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Russo+One" rel="stylesheet">
</head>
<body class='template'>


<h1 style="color: #fff;">Register Page</h1>

<form action="" method="post">
    {% csrf_token %}
    <div id = 'form-control'>
        <label>Username:</label>
        {{register_form.username}}
      </div><br>
      <div id = 'form-control'>
        <label>Email:</label>
        {{register_form.email}}
      </div><br>
      <div id = 'form-control'>
        <label>First Name:</label>
        {{register_form.first_name}}
      </div><br>
      <div id = 'form-control'>
        <label>Last Name:</label>
        {{register_form.last_name}}
      </div><br>

    <div id = 'form-control'>
        <label>Password:</label>
        {{register_form.password1}}
      </div>
      <br>

     <div id = 'form-control'>
        <label>Confirm Password:</label>
        {{register_form.password2}}
      </div>
    <br>
     <div id = 'form-control'>
         {{register_form.errors}}
     </div>

    <div id = 'haveAnAccount'>
      <p>Already have an account?</p>
      <a href = "{% url 'login' %}"><strong>Login</strong></a>
    </div>
    <p></p>
    <button type = 'submit' id = 'submitButton'>Register</button>
</form>