{% extends 'base.html' %}

{% block content %}

<div>


<h1 style="color: #fff;">Register Page</h1>

<form action="" method="post">
    {% csrf_token %}
    <div id = 'form-control'>
        <label>Username:</label>
        {{register_form.username}}
      </div><br>
      <div id = 'form-control'>
        <label>Email:</label>
        {{register_form.email}}
      </div><br>
      <div id = 'form-control'>
        <label>First Name:</label>
        {{register_form.first_name}}
      </div><br>
      <div id = 'form-control'>
        <label>Last Name:</label>
        {{register_form.last_name}}
      </div><br>

    <div id = 'form-control'>
        <label>Password:</label>
        {{register_form.password1}}
      </div>
      <br>

     <div id = 'form-control'>
        <label>Confirm Password:</label>
        {{register_form.password2}}
      </div>
    <br>
     <div id = 'form-control'>
         {{register_form.errors}}
     </div>

    <div id = 'haveAnAccount'>
      <p>Already have an account?</p>
      <a href = "{% url 'login' %}"><strong>Login</strong></a>
    </div>
    <p></p>
    <button type = 'submit' id = 'submitButton'>Register</button>
</form>

</div>

{% endblock %}