{% extends 'base.html' %}

{% block content %}
  <div>
          <div class="content container">
              <div class="row">
                  <div class="col-md-8">
                    <h1 style="color: #fff;"> All Blogs</h1>
                      <div class="blog_posts">
                        {% for blog in blogs %}
                        <br>
                        <tr>
                          <td> <h4 style="color: rgb(199, 192, 192);"> <b style="color: rgb(255, 246, 246);">Title: </b> <b>{{ blog.title }}</b></h4><a href="{% url 'edit-blog' blog.id %}"><b>Edit Blog</b> </a>  &nbsp; <a href="{% url 'delete-blog' blog.id %}"><b>Delete</b> </a></td>
                          <br>
                            <td><h5 style="color: #fff;"><b>Description: </b></h5></td>
                            <td> <p style="color: rgb(192, 179, 179);">{{ blog.description }} </p> </td> <br>
                            <td>  <p style="color: rgb(192, 179, 179);"> Created on: {{blog.created}} </p></td>
                          <td> <img style="max-width:100vh;" src="{{ blog.featured_image.url }}" alt="Img does not exist"> </td> <br>
                        </tr>
                        <br>
                        {% endfor %}
    
                      </div>
                  </div>
              </div>
          </div>

        </div>
{% endblock %}